* {
    font-family: 'Gaegu', cursive;
}

.icon {
    width: 200px;
    height: 200px;
}
#head {
    display: flex;
    justify-content: center;
    align-items: center;
}
#siteName {
    font-size: 2.5rem;
    font-weight: bolder;
}
nav {
    display:flex;
    height: 7vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
}
nav div {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

}
nav div strong:hover {
    cursor: pointer;
    color:rgb(236, 144, 31);
    border-bottom: solid rgb(236, 144, 31);
}
.navContainer {
    max-width: 100rem;
}
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 170, 91);


}
.section1 p {
    margin-right: 100px;
    margin-top: 10px;
    font-size: 40px;
    margin-left: 150px;
}
.section1 img {
    width: 400px;
    height:450px;
}
#photo {
    display: flex;
    position: relative;
    padding-left: 60px;

}
#today_info {
    float: left;
    margin-right: 20px;
    margin-right: 100px;
    background-color: rgb(236, 170, 91);
    border-radius: 50%;
    padding: 50px;
    font-size: 25px;
}
div:not(#today_info) {
    overflow: hidden;
}
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#question {
    font-size: 35px;
    margin-bottom: 30px;
}
#answer {
    font-size: 20px;
}
.right span {
    font-size: 15px;
}
.click span{
    background-color: rgb(245, 209, 164);
    margin-left: 680px;
    font-size: 20px;
}
.click span:hover {
    cursor: pointer;
}
  