* {
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    height: 80px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    width: 80%;
}

nav li {
    margin: 0 10px;
    text-align: center;
    width: 10%;
    text-align: center;
    font-size: 18px;
}

nav li a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav li a:hover {
    color: rgb(91, 91, 91);
}

.image {
    width: 1440px;
    /* 원하는 크기로 설정 */
    height: 1024px;


    position: relative;
    z-index: -1;
}

.image img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    object-fit: cover;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    border-radius: 10px;
    cursor: pointer;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.button button {
    background-color: rgba(27, 120, 183, 0.5);
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dashed black;
    margin: auto;
}