@import url('https://fonts.googleapis.com/css2?family=Andika&family=Do+Hyeon&family=Sniglet&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Do Hyeon', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100vw;
    max-width: 65rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0 5vw 0 5vw;
}
#start > img {
    margin-top: 10vh;
    width: 400px;
    margin-left: 13vw;
}
#start > div {
    margin-top: 5vh;
}
#title1 {
    font-size: 3rem;
    background-color: rgb(225, 210, 48);
}
#title2 {
    font-size: 1.5rem;
}
#title2 span {
    background-color: rgb(225, 210, 48);
}
#title3 {
    margin-top: 2vh;
}
#start button {
    margin-top: 5vh;
}
#question > #pgrNum {
    text-align: left;
}
#question > #title {
    width: 100%;
    height: 20vh;
    margin: 10vh 0 2vh 0;
    font-size: 2rem;
}
#question > button {
    font-size: 1.5rem;
    height: 8vh;
}
#result > .result-btn {
    display: flex;
    flex-direction: column;
}
.result-btn button {
    font-size: 1.5rem;
}
#mbti > img {
    width: 400px;
    height: 600px;
}
#major {
    font-size: 1.5rem;
}
