@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Gamja flower",cursive;
    
}

body{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#start>button{
    margin-top: 1vh;
}

.content{
    width: 100vw;
    max-width: 65rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 5vw 0 5vw;
    /*상우하좌*/
}

#result>#qu{
    color:rgb(255, 140, 0);
    font-size:1.5rem;
}

#start>img{
    width:300px;
    height:200px;
    display: block;
    margin:5vw auto 0 auto;
}

#title>img{
    width:300px;
    height:200px;
    display: block;
    margin:3vw auto 0 auto;
}

.img1{
    position:relative;
    margin-left:350px;
}

#start>p{
    font-size:2.5rem;
    margin-top:5vh;
    color:orange;
}

#start>#maker{
    font-size:1rem;
    color:black;
}

#start>#require{
    font-size:1.5rem;
    color:rgb(255, 0, 0);
}



#question > #pgrNum{
    text-align:left;
    margin-top:3vh;
}

#question > #title{
    width:100%;
    height:20vh;
    margin:10vh 0 10vh 0;
    font-size:1.5rem;
}


#question > button{
    height:8vh;
    margin-top:20vh;
}

#result > #img{
    width:300px;
    height:300px;
    display: block;
    margin:5vw auto 0 auto;
}

#result>#mbti{
    font-size:1.5em;
}
#result > .result-btn{
    display:flex;
    flex-direction:column;
}

.result-btn button{
    font-size:1.5rem;
}