@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Gamja flower",cursive;
}

body{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.content{
    width:100vx;
    max-width:65rem;
    height:100%;
    display:flex;
    flex-direction:column;
    text-align:center;
    padding:0 5vw 0 5vw;
    /* 상 우 하 좌 */
    
}

.img1{
    position:relative;
    margin-left:50px;
}

#start>p{
    font-size:2.5rem;
    margin-top:10vh;
}



#question > #pgrNum{
    text-align:left;
    margin-top:3vh;
}

#question > #title{
    width:100%;
    height:20vh;
    margin:10vh 0 10vh 0;
    font-size:1.5rem;
}


#question > button{
    height:8vh;
}

#result > #img{
    margin-left:300px;
}

#result > .result-btn{
    display:flex;
    flex-direction:column;
}

.result-btn button{
    font-size:1.5rem;
}