.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home>.liContainer{
    display:flex;
    font-size:1.2vw;
    font-style:italic;
}

.home>.liContainer>li{
    list-style-type:none;
}

.home>.liContainer>#li1{
    margin-right:3vw;
}

.home>.liContainer>#li3{
    margin-left:3vw;
}

.home>.liContainer>li>a{
    text-decoration: none;
    color:white;
}

.home>.liContainer>li>a:hover{
    color:purple;
}

.home>img{
    margin-top:3vw;
    width:25vw;
    height:25vw;
    border:none;
    border-radius:4vw;
    box-shadow: 0.5vw 0.5vw purple;
}

.home>p{
    margin-top:4vw;
    font-size:1.2vw;
    color:white;
    font-style:italic;
}