* {
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: bold;
}

body button {
    background-color: #4CAF50;
    /* Green background */
    border: none;
    /* Remove border */
    color: white;
    /* White text */
    padding: 12px 24px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
}

body button:hover {
    background-color: #3e8e41;
}