* {
    font-family: 'Gaegu', cursive;
}

.icon {
    width: 200px;
    height: 200px;
}
#head {
    display: flex;
    justify-content: center;
    align-items: center;
}
#siteName {
    font-size: 2.5rem;
    font-weight: bolder;
}
nav {
    display:flex;
    height: 7vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;
}
nav div {
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

}
nav div strong:hover {
    cursor: pointer;
    color:rgb(236, 144, 31);
    border-bottom: solid rgb(236, 144, 31);
}
.navContainer {
    max-width: 100rem;
}
.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 170, 91);


}
.section1 p {
    margin-right: 100px;
    margin-top: 10px;
    font-size: 40px;
    margin-left: 150px;
}
.section1 img {
    width: 400px;
    height:450px;
}
#photo {
    display: flex;
    position: relative;
    padding-left: 60px;

}
#today_info {
    float: left;
    margin-right: 20px;
    margin-right: 100px;
    background-color: rgb(236, 170, 91);
    border-radius: 50%;
    padding: 50px;
    font-size: 25px;
}
div:not(#today_info) {
    overflow: hidden;
}
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
#question {
    font-size: 35px;
    margin-bottom: 30px;
}
#answer {
    font-size: 20px;
}
.right span {
    font-size: 15px;
}
.click span{
    background-color: rgb(245, 209, 164);
    margin-left: 680px;
    font-size: 20px;
}
.click span:hover {
    cursor: pointer;
}
.hidden {
    display:none;
}
#login:hover {
    cursor: pointer;
}

/* info_dogs.html의 css*/
.img_dog {
    width: 300px;
    height: 300px;
}
.infoDogs {
    display: flex;

}
#nav_pets {
    font-size: 1.5rem;
}
#li_pets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-evenly;

}
#li_pets li {
    margin-right: 200px;
}
.info1 {
    display: flex;
    justify-content: space-between; /* 각 항목을 동일한 간격으로 배치 */
    flex-wrap: wrap; /* 필요할 경우 줄바꿈 */
}

.info1 li {
    flex-basis: 30%; /* 각 항목의 너비를 설정 */
    list-style: none;
}
.info1 li h2:hover {
    cursor:pointer;
}
.search {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="text"] {
    height: 30px;
}
.search button {
    width: 60px;
    height: 35px;
    font-size: 1.2rem;
}
#info_golden {
    font-size: 1.5rem;
}
.closeBtn button {
    width: 70px;
    font-size: 25px;

}